# systemd service for managing all postgresql postconfiguration.
  
[Unit]
Description=Postgresql Configuration Postdiscovery
#Requires=postgresql.target
PartOf=postgresql.target
ReloadPropagatedFrom=postgresql.service
After=postgresql-autodiscovery.service
After=firewalld.service

[Service]
Type=oneshot
Environment=PGDATA=/var/lib/pgsql/data
ExecStart=/bin/bash /usr/libexec/device-postdiscovery/postgresql start
ExecReload=/bin/bash /usr/libexec/device-postdiscovery/postgresql reload
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

