# systemd service for managing all postgresql autoconfiguration.

[Unit]
Description=Postgresql Configuration Autodiscovery
#Requires=postgresql.target
PartOf=postgresql.target
ReloadPropagatedFrom=postgresql.service
Before=postgresql@.service
After=firewalld.service

[Service]
Type=oneshot
Environment=PGDATA=/var/lib/pgsql/data
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/postgresql
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/postgresql
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

