# systemd service for managing all postgresql autoconfiguration.

[Unit]
Description=Postgresql Configuration Autodiscovery
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/postgresql start
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/postgresql reload
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

